<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Ark &gt; Clientes</title>

    <!-- Bootstrap core CSS -->
    <link href="src/scripts/external_libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="src/scripts/external_libs/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">

    <!--external css-->
    <link href="src/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="build/css/style.css" rel="stylesheet">
    <link href="build/css/style-responsive.css" rel="stylesheet">
    <link href="build/css/header.css" rel="stylesheet">
    <link href="build/css/customers.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script id="customer-row" type="text/x-handlebars-template">
       {{#each customers}}
        <tr data-customer-uid="{{uid}}">
          <td>
            <a class="btn btn-xs delete" data-uid="{{uid}}" data-toggle="modal" data-target=".delete-modal">
              <i class="fa fa-times"></i>
            </a>
            <a href="customer.html?uid={{uid}}" class="btn btn-xs"><i class="fa fa-pencil"></i></a>
          </td>
          <td class="id">{{id}}</td>
          <td class="name">
            {{#if name}} {{name}} {{else}} - {{/if}}
          </td>
          <td  class="phone">
            {{#if phone}} {{phone}} {{else}} - {{/if}}
          </td>
          <td class="email">
            {{#if email}} {{email}} {{else}} - {{/if}}
          </td>
          <td class="comments">
            {{#if comments}} {{comments}} {{else}} - {{/if}}
          </td>
          <td>
            {{#if origin}}
              <span class="label label-info label-mini">
                {{origin}}
              </span>
            {{else}}
              -
            {{/if}}
            </td>
        </tr>
      {{/each}}
    </script>

  </head>
  <body class="customers-page">
    <!-- Delete Modal -->
    <div id="delete-modal" class="modal fade delete-modal" tabindex="-1" role="dialog"
      aria-labelledby="delete-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="modal-title">Borrar Cliente</h4>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea eliminar cliente
                <span class="customer">
                  <em class="id"></em>
                  <em class="name"></em>?
                </span>
            </p>
            <button type="button" class="btn btn-primary cancel" data-dismiss="modal">cancelar</button>
            <button type="button" class="btn btn-default delete">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <section id="container" >
      <!-- TOP BAR CONTENT & NOTIFICATIONS -->
      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box hidden">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="login.html" class="logo"><b>Ark</b></a>
        <!--logo end-->
        <div class="nav notify-row hidden" id="top_menu">
          <!--  notification start -->
          <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-tasks"></i>
                <span class="badge bg-theme">4</span>
              </a>
              <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 4 pending tasks</p>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">DashGum Admin Panel</div>
                      <div class="percent">40%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">Database Update</div>
                      <div class="percent">60%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">Product Development</div>
                      <div class="percent">80%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">Payments Sent</div>
                      <div class="percent">70%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">70% Complete (Important)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="external">
                  <a href="#">See All Tasks</a>
                </li>
              </ul>
            </li>
            <!-- settings end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">5</span>
              </a>
              <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 5 new messages</p>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="src/img/ui-zac.jpg"></span>
                    <span class="subject">
                    <span class="from">Zac Snider</span>
                    <span class="time">Just now</span>
                    </span>
                    <span class="message">
                    Hi mate, how is everything?
                    </span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="src/img/ui-divya.jpg"></span>
                    <span class="subject">
                    <span class="from">Divya Manian</span>
                    <span class="time">40 mins.</span>
                    </span>
                    <span class="message">
                    Hi, I need your help with this.
                    </span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="src/img/ui-danro.jpg"></span>
                    <span class="subject">
                    <span class="from">Dan Rogers</span>
                    <span class="time">2 hrs.</span>
                    </span>
                    <span class="message">
                    Love your new Dashboard.
                    </span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="src/img/ui-sherman.jpg"></span>
                    <span class="subject">
                    <span class="from">Dj Sherman</span>
                    <span class="time">4 hrs.</span>
                    </span>
                    <span class="message">
                    Please, answer asap.
                    </span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">See all messages</a>
                </li>
              </ul>
            </li>
            <!-- inbox dropdown end -->
          </ul>
          <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout">Salir</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->

      <!-- MAIN SIDEBAR MENU -->
      <!--sidebar start-->
      <aside style="margin-left: -210px;">
        <div id="sidebar"  class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="src/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">{{ACTUAL USER}}</h5>
            <li class="mt">
              <a href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" >
                <i class="fa fa-desktop"></i>
                <span>UI Elements</span>
              </a>
              <ul class="sub">
                <li><a  href="general.html">General</a></li>
                <li><a  href="buttons.html">Buttons</a></li>
                <li><a  href="panels.html">Panels</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" >
                <i class="fa fa-cogs"></i>
                <span>Components</span>
              </a>
              <ul class="sub">
                <li><a  href="calendar.html">Calendar</a></li>
                <li><a  href="gallery.html">Gallery</a></li>
                <li><a  href="todo_list.html">Todo List</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" >
                <i class="fa fa-book"></i>
                <span>Extra Pages</span>
              </a>
              <ul class="sub">
                <li><a  href="blank.html">Blank Page</a></li>
                <li><a  href="login.html">Login</a></li>
                <li><a  href="lock_screen.html">Lock Screen</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" >
                <i class="fa fa-tasks"></i>
                <span>Forms</span>
              </a>
              <ul class="sub">
                <li><a  href="form_component.html">Form Components</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a class="active" href="javascript:;" >
                <i class="fa fa-th"></i>
                <span>Data Tables</span>
              </a>
              <ul class="sub">
                <li class="active"><a  href="basic_table.html">Basic Table</a></li>
                <li><a  href="responsive_table.html">Responsive Table</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" >
                <i class=" fa fa-bar-chart-o"></i>
                <span>Charts</span>
              </a>
              <ul class="sub">
                <li><a  href="morris.html">Morris</a></li>
                <li><a  href="chartjs.html">Chartjs</a></li>
              </ul>
            </li>
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->

      <!-- MAIN CONTENT -->
      <!--main content start-->
      <section id="main-content" class="customers-page" style="margin-left: 0;">
        <section class="wrapper">

          <!-- Notifications  -->
          <div class="alert alert-success alert-dismissible delete-alert" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <strong> Cliente removido exitosamente!. </strong>
          </div>

          <h3><i class="fa fa-angle-right"></i>Busqueda de Clientes</h3>
          <div class="row mt">
            <div class="col-md-12">
              <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Clientes</h4>
                  <div class="customers-actions">
                    <a class="btn btn-default btn-sm" href="customer.html?uid=new">
                      <i class="fa fa-user"></i>  crear cliente
                    </a>
                    <form id="csv-file" action="#">
                      <a class="btn btn-default btn-sm">
                        <i class="fa fa-upload"> Importar Clientes</i>
                      </a>
                      <input id="import-customers" class="hidden" type="file" name="csv-file" accept="text/csv">
                    </form>
                  </div>
                <div id="customers-table">
                  <div class="client-search input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="search" class="form-control search" placeholder="Search Customer">
                  </div>
                  <table id="client-table" class="table table-striped table-advance table-hover filter-table">
                    <hr>
                    <thead>
                      <tr>
                        <th><i class="fa fa-cog"></i> Actions</th>
                        <th><i class="fa fa-barcode"></i> Id</th>
                        <th><i class="fa fa-user"></i> Nombre</th>
                        <th><i class="fa fa-phone"></i> Telefono</th>
                        <th><i class="fa fa-envelope"></i> Email</th>
                        <th><i class="fa fa-comments"></i> Comentarios</th>
                        <th><i class="fa fa-bullhorn"></i> Origen</th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      <tr class="no-data">
                        <td>No hay clientes registrados</td>
                      </tr>
                    </tbody>
                  </table>
                </div> <!-- customers table -->
              </div><!-- /content-panel -->
            </div><!-- /col-md-12 -->
          </div><!-- /row -->
        </section> <!-- wrapper -->
      </section> <!-- main content -->

      <footer class="site-footer">
        <div class="text-center">
          2014 | Legion Automotriz
        </div>
      </footer> <!--footer-->
    </section> <!-- container -->

    <!--common script for all pages-->
    <!-- <script src="src/scripts/common-scripts.js"></script> -->
    <script src="build/customers.js"></script>

    <!--script for this page-->

  </body>
</html>
