/* customer.html page styles */

#main-content.customer-edit-page .content-panel h4 {
    display: inline-block;
}

#main-content.customer-edit-page .content-panel .customers-actions {
    display: inline-block;
    margin-left: 30px;
}
#main-content.customer-edit-page .customers-actions i {
    margin-right: 5px;
}

.customer-edit-page form {
    padding: 20px;
}
.customer-edit-page form input {
}

.customer-edit-page form input[name="id"] {
}
.customer-edit-page form input[name="username"],
.customer-edit-page form select[name="origin"],
.customer-edit-page form input[name="email"],
.customer-edit-page form input[name="phone"] {
}

.customer-edit-page form textarea[name="comments"] {
    height: 100px;
}
