/* customer.html page styles */

.customers-page .modal-header {
    background: none;
}

.customers-page .modal-title {
    color: #000;
}

.customers-page .delete-modal .modal-content span.customer {
    display: block;
}

.customers-page .delete-modal .modal-content .id,
.customers-page .delete-modal .modal-content .name {
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
}

.customers-page #main-content .content-panel h4 {
    display: inline-block;
}

.customers-page #main-content .content-panel .customers-actions {
    display: inline-block;
    margin-left: 30px;
}
.customers-page #main-content .customers-actions i {
    margin-right: 5px;
}

.customers-page #customers-table .client-search {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 40%;
}

.customers-page #customers-table a.delete {
    color: #d9534f;
}

.customers-actions form {
  border-left: 1px solid #b9b9b9;
  padding-left: 20px;
  display: inline-block;
  margin-left: 20px;
}
.customers-actions form i input[name="csv-file"],
.customers-actions form input[name="csv-file"] {
  display: inline-block;
}
