/* header styles*/

ul.top-menu > li > .logout,
ul.top-menu > li > .logout:hover {
  background-color: #f0ad4e;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

ul.top-menu > li > .logout:hover {
  background-color: #CB4336;
}
